<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">

<head>
<meta charset="utf-8" />
<title>this is base page[[home[page]]]</title>
</head>

<body>
	<section class="aboutme">
		<div class="text-center text-black">
			<h1 class="text-primary">smart contact manager</h1>
			<p>The smart contact manager is a comprehensive application that
				facilitates the management of contacts through CRUD operations
				(Create, Read, Update, Delete). It includes features such as user
				authentication for secure access, intuitive contact creation with
				essential fields, a robust listing and searching system, and the
				ability to update contact details securely.This smart contact
				manager aims to provide a user-friendly, organized, and secure
				platform for efficient contact management.</p>
		</div>
	</section>
</body>

</html>
